<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
{% for entry in item.ports %}
	<port port="{{ entry.port }}" protocol="{{ entry.protocol }}" />
{% endfor %}
</service>
